<h5 style="text-align:center;color:darkgray"> Ucitavanje podataka</h5>
<div class="row">
    <div class="col-s11 offset-s1" style="text-align:center">
        <button class="btn" ng-click="$ctrl.importData()">Ucitaj podatke iz glavne baze</button>
    </div>
</div>
<div class="row">
    <div id= "spinner-div" class="center-align">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <table class="bordered">
            <thead>
              <tr>
                  <th>Tabela</th>
                  <th>Posljednja izmjena (DW)</th>
                  <th>Posljednja izmjena (Glavna baza)</th>
                  <th>Aktuelni podaci</th>                  
                </tr>
            </thead>
    
            <tbody>
              <tr ng-repeat="row in $ctrl.allTablesInfo">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td ng-show="row[3]">DA</td>
                <td ng-show="!row[3]">NE</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>