
target/
web-app/node_modules/
!.mvn/wrapper/maven-wrapper.jar
.metadata
/backend/dataset.arff
/backend/inputValue.arff


### Visual Studio Code ###
.vscode


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### Visual Code Studio ###
.vscode

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Sublime Text ###
*.sublime-project
*.sublime-workspace

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip

web-app/npm-debug.log*
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
