<!--h5 style="text-align:center;color:darkgray"> Overall analysis </h5>
<div class="row">
    <div class="col-s11 offset-s1" style="text-align:center">
        <button class="btn" ng-click="$ctrl.importData()">Import</button>
    </div>
</div-->
<h5 style="text-align:center;color:darkgray"> Predikcija broja upisanih studenata </h5>
<div class="row">
</div>
<div class="row">
    <div class="col s6" style="text-align:right">
        Broj studenata na budzetu:
    </div>
    <div class="col s6" style="text-align:left">
        Izvrsi predikciju
    </div>
    
</div>
<div class="row">
        <div class="col s2 offset-s4" style="text-align:right">
            <input type="number" ng-model="$ctrl.budgetNum" min = "1">
        </div>
        <div class="col s6">
            <button class="btn" ng-click="$ctrl.loadPredictionData($ctrl.budgetNum)">
                Izvrsi predikciju
            </button>
        </div>
        
</div>.
<div class="row">
        <div class="col s6" style="text-align:right">
            Rezultat: 
        </div>
        <div class="col s6">
            {{$ctrl.predictedNumber}}
        </div>
        
</div>
