<h5 style="text-align:center;color:darkgray"> Predikcija broja upisanih studenata </h5>
<div class="row">
</div>
<div class="row">
    <div class="col s3" style="text-align:left">
        <p style="margin-bottom:0px">Unesite broj studenata na budzetu:</p>
    </div>
    <div class="col s2">
        <input type="number" ng-model="$ctrl.budgetNum" min = "1" value="20">
    </div>
</div>
<div class="row">
        <div class="col s6">
            <button class="btn" ng-click="$ctrl.loadPredictionData($ctrl.budgetNum)">
                Izvrsi predikciju
            </button>
        </div> 
</div>

<div class="row">
    <div class="col s6">
        <div class="card grey lighten-5">
            <div class="card-content" >
                <canvas id="bar" class="chart chart-bar" chart-data="$ctrl.dataAY" chart-labels="$ctrl.labelsAY" chart-series="$ctrl.seriesAY" chart-options="$ctrl.options"></canvas>  
            </div>
        </div>
        <p style="color:lightseagreen;text-align:center"> Prethodne 4 godine </p>         
    </div>
    <div class="col s6">
            <div class="card grey lighten-5">
                <div class="card-content">
                    <canvas id="line" class="chart chart-bar" chart-data="$ctrl.dataPred" chart-labels="$ctrl.labelsPred" chart-series="$ctrl.seriesPred" chart-options="$ctrl.options"
                        chart-dataset-override="datasetOverride">
                    </canvas>
                </div>
            </div>
            <p style="color:lightseagreen;text-align:center"> Predstojeca godina </p>           
        </div>
    </div>
</div>

