<div class="row">
    <div class="col s6 offset-s3">
        <a ui-sref="home">
            <img class="logo" src="http://etf.unsa.ba/etf/css/images/etf-dugi.gif" alt="Elektrotehnički fakultet">
        </a>
    </div>
    <div class="col s6 offset-s3">
        <div class="card grey lighten-4">
            <div class="card-content">
                <form ng-submit="$ctrl.login()" name="$ctrl.form" novalidate>
                    <div class="input-field">
                        <input type="text" id="username" name="username" placeholder="Korisničko ime" ng-model="$ctrl.user.username" ng-pattern="/^[a-z][a-z0-9]{2,16}$/i" required autofocus>
                        <label for="username">Korisničko ime</label>
                        <div class="user-errors" ng-show="$ctrl.form.$submitted">
						    <!--span class="error" ng-show="$ctrl.form.username.$error.required">Korisničko ime je obavezno.</span-->
					    </div>
                    </div>
                    <div class="input-field">
                        <input type="password" id="password" name="password" placeholder="Lozinka" ng-model="$ctrl.user.password" minlength="8" required>
                        <label for="password">Lozinka</label>
                            <div class="user-errors" ng-show="$ctrl.form.$submitted">
                                <!--span class="error" ng-show="$ctrl.form.password.$error.required">Lozinka je obavezna.</span-->
					        </div>
                    </div>
                    <button class="btn" type="submit">Prijavi se</button>
                </form>
            </div>
        </div>
    </div>
</div>