<div class="row">
    <div class="col s6">
        <div class="card grey lighten-5">
            <div class="card-content" >
                <canvas id="bar" class="chart chart-pie" chart-data="$ctrl.attendanceData" chart-labels="$ctrl.attendanceLabels" chart-series="$ctrl.series1"></canvas>  
            </div>
        </div>
                <p style="color:lightseagreen;text-align:center"> Broj studenata upisanih na kurs </p>
    <div class="row">
        <div class="col s6">
        <p> Odsjek: </p>
           <select ng-model="$ctrl.selectedDepartment" ng-options="dep.title for dep in $ctrl.departments" id="dropdown" name="dropdown" ng-change="$ctrl.selectedChanged()">
        </select>
        </div>
        <!--div class="col s6">
        <p> Semestar: </p>
           <select ng-model="selectedSemester" ng-options="option.name for option in $ctrl.semesters" id="dropdown" name="dropdown">
            <option value="">-</option>
            <option value="">{{option.name}}</option>
        </select>
        </div-->
        <!--<div class="col s4">
        <p> Dan u sedmici: </p>
           <select ng-model="selectedDay" ng-options="option.name for option in $ctrl.days" id="dropdown" name="dropdown">
            <option value="">-</option>
            <option value="">{{option.name}}</option>
        </select>
        </div>-->
    </div>
    </div>

    <div class="col s6">
            <div class="card grey lighten-5">
                <div class="card-content">
                        <canvas id="line" class="chart chart-bar" chart-data="$ctrl.attendanceData" chart-labels="$ctrl.attendanceLabels" chart-series="$ctrl.series2" chart-options="$ctrl.options"
                            chart-dataset-override="datasetOverride">
                        </canvas>
                </div>
            </div>
            <p style="color:lightseagreen;text-align:center"> Procenat studenata prisutnih na predavanju </p> 
            <div class="row">
        <!--div class="col s4">
        <p> Odsjek: </p>
           <select ng-model="selectedDepartment2" ng-options="option.name for option in $ctrl.departments" id="dropdown" name="dropdown">
            <option value="">-</option>
            <option value="">{{option.name}}</option>
        </select>   
        </div>
        <div class="col s4">
        <p> Semestar: </p>
           <select ng-model="selectedSemester2" ng-options="option.name for option in $ctrl.semesters" id="dropdown" name="dropdown">
            <option value="">-</option>
            <option value="">{{option.name}}</option>
        </select>
        </div>
        <div class="col s4">
        <p> Dan u sedmici: </p>
           <select ng-model="selectedDay2" ng-options="option.name for option in $ctrl.days" id="dropdown" name="dropdown">
            <option value="">-</option>
            <option value="">{{option.name}}</option>
        </select>
        </div-->
    </div>
    </div>


</div>

<div class="row">
<h5 style="text-align:center; color:black; border-bottom: 1px solid lightgray; margin-bottom: 5px;"> Najposjećenija predavanja: </h5>
 <div class="col s12">
 <div class="card grey lighten-5">
            <div class="card-content" >
                <canvas id="bar" class="chart chart-line" chart-labels="$ctrl.labelsattendance" chart-data="$ctrl.dataattendance" chart-series="$ctrl.seriesattendance"></canvas>  
            </div>
        </div>    
</div>
</div>   

<div class="row">
    <div class="col s12">
        <button class="btn" ng-click="$ctrl.attendanceReport()">Izvjestaj</button>
    </div>
</div>